<div class="row">
  <%= simple_form_for @project do |f| %>
    <div class="col-md-12"%>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "project title" %>
      <%= f.input :content, :input_html => {:rows => 6}, required: true,
                  label: false, placeholder: "project description"%>
      <div class="input-group">
        <span class="input-group-addon">
          <%= fa_icon "link", class: "fa-fw text-muted" %>
        </span>
        <%= f.input :website, as: :url, label: false, placeholder: "project website", error: false %>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">
          <%= fa_icon "link", class: "fa-fw text-muted" %>
        </span>
        <%= f.input :repository, as: :url, label: false,
                    placeholder: "online repository, such as Github, Bitbuket, etc.", error: false %>
      </div>
      <br>
      <%= f.input :technology_list,
                  # all_technologies_list method is defined in application_helper
                  collection: all_technologies_list,
                  input_html: {class: 'chosen-select', multiple: :true, data:{placeholder: "technologies utilized (limited to 10)"}},
                  label: false %>
    </div>

    <!-- display custom buttons for 'new' and 'show' actions -->
    <% if action_name == 'new'%>
      <div class="col-xs-8">
        <%= f.button :submit, 'NEXT  >>  ADD PICTURES', class: "btn btn-success btn-sm btn-block" %>
      </div>
      <div class="col-xs-4">
        <%= link_to 'CANCEL', :back, class: "btn btn-warning btn-sm btn-block" %>
      </div>
    <%end%>


    <% if action_name == 'edit'%>
      <div class="col-xs-6">
        <%= f.button :submit, 'UPDATE PROJECT', class: "btn btn-success btn-sm btn-block" %>
      </div>
      <div class="col-xs-3">
        <%= link_to 'CANCEL', :back, class: "btn btn-warning btn-sm btn-block" %>
      </div>
      <div class="col-xs-3">
        <%= link_to 'DELETE PROJECT', project_path(@project), method: :delete, class: "btn btn-danger btn-sm btn-block" %>
      </div>
    <%end%>
  <% end %>
</div>

<!-- add new technology through shared partial that can be used with all type of posts -->
<div class="row">
  <%= render 'technologies/add_new_technology', post:@project %>
</div>
