
<%= render 'shared/top_buttons'%>

<div class="well">
  <div class="row">
    <div class="col-md-5">
      <h3 class="pull-right"><%= link_to @project.user.name, user_path(@project.user)%></h3>
    </div>
    <div class="col-md-2">
      <div class="text-center">
        <div class=" img-thumbnail">
          <%= link_to user_path(@project.user) do %>
            <%= gravatar_for(@project.user, 60) %>
          <%end%>
        </div>
      </div>
    </div>
    <!-- 'can?' is a cancan method. Checking if the current user is authorized to perform that action -->
    <div class="col-md-5">


    </div>

  </div>
  <div class="row">
    <div class="text-center">
      <h3><%= @project.title%></h3>
    </div>
  </div>
  <br>

  <div class="row">
    <!-- project content -->
    <div class="col-md-6">
      <!-- convert_to_markdown method in application_helper -->
      <p><%= convert_to_markdown(@project.content) %></p>
      <hr>
      <h4>
        <%if @project.website.size > 0%>
          <%= fa_icon "home", class: "fa-fw text-muted pull-left" %>
          <%= link_to @project.website, @project.website %>
          <br>
          <br>
        <%end%>
        <%if @project.repository.size > 0%>
          <%= fa_icon "github", class: "fa-fw text-muted pull-left" %>
          <%= link_to @project.repository, @project.repository %>
          <br>
          <br>
        <%end%>
      </h4>
      <%if @project.technologies.size > 0%>
        <h4><%= fa_icon "code", class: "fa-fw text-muted pull-left" %></h4>
        <!-- display project techologies using shared partial -->
        <span><%= render 'technologies/technology_list', post: @project %></span>
      <%end%>


    </div>
    <!-- project pictures slider -->
    <div class="col-md-6 projects_slider_show">
    <%= render 'projects_slider' %>
    <!-- moved the slider javascript from asste pipeline to view partial as it was doubling on page back/forward actions -->
    <script type="text/javascript">
      <%= render 'slider_javascript.coffee' %>
    </script>

    </div>
  </div>




</div>
