<br>
<div class="well">
  <div class="row">
    <div class="col-md-5">
      <h3 class="pull-right"><%= link_to @project.user.name, user_path(@project.user)%></h3>
    </div>
    <div class="col-md-2">
      <div class="text-center">
        <div class=" img-thumbnail">
          <%= link_to user_path(@project.user) do%>
            <%= gravatar_for(@project.user, 60) %>
          <%end%>
        </div>
      </div>
    </div>
    <!-- 'can?' is a cancan method. Checking if the current user is authorized to perform that action -->
    <% if can? :manage, @project%>
      <div class="col-md-5">
        <div class="pull-right">
          <%= link_to "EDIT", edit_project_path(@project), class: "btn btn-xs btn-warning"%>
          <%= link_to "DELETE", project_path(@project), method: :delete, class: "btn btn-xs btn-danger"%>
        </div>
      </div>
    <%end%>
  </div>
  <div class="row">
    <div class="text-center">
      <h3><%= @project.title%></h3>
    </div>
  </div>
  <br>

  <div class="row">
    <!-- project content -->
    <div class="col-md-6">
      <p><%= @project.content%></p>
      <hr>
      <h4>
        <%= fa_icon "home", class: "fa-fw text-muted pull-left" %>
        <%= link_to @project.website, @project.website %>
        <br>
        <br>
        <%= fa_icon "github", class: "fa-fw text-muted pull-left" %>
        <%= link_to @project.repository, @project.repository %>
      </h4>

    </div>
    <!-- project pictures slider -->
    <div class="col-md-6 projects_slider_show">
    <%= render 'projects_slider' %>
    <!-- moved the slider javascript from asste pipeline to view partial as it was doubling on page back/forward actions -->
    <script type="text/javascript">
      <%= render 'slider_javascript.coffee' %>
    </script>

    </div>
  </div>




</div>
