<div class='col-md-5'>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span><%= fa_icon "question-circle", class: "text-muted" %></span>  What is Zero2Dev?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Zero2Dev is platform dedicated to us, the ones that are starting from zero and follow their passion for Web Development. It's the place where we can share learning resources, our personal projects, information about jobs and so much more. It's the place where we can ask for help and find collaborators for our new projects.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span><%= fa_icon "question-circle", class: "text-muted" %></span>  Where can I find more info about the project structure?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Go to the project <a href="https://trello.com/b/zr7hcd3i/concept" target="_blank">Trello Concept Board</a> to find more information and wireframes.
          <br>
          Got even more questions? Join the project Slack chat and ask them.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span><%= fa_icon "question-circle", class: "text-muted" %></span>  What is the technology behind Zero2Dev?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Zero2Dev is build on Ruby on Rails together with Bootstrap, jQuery and Ajax for frontend.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading4">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
            <span><%= fa_icon "question-circle", class: "text-muted" %></span>  How can I contribute?
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
        <div class="panel-body">
          It's very easy. Just follow the steps:
          <ol>
            <li>Complete the form at the right of the page and request the invitation to Trello and Slack;</li>
            <li>Fork the project on Github;</li>
            <li>Read through the <a href="https://trello.com/b/zr7hcd3i/concept" target="_blank">Trello Concept Board</a> to understand the project structure;</li>
            <li>Go to <a href="https://trello.com/b/0e8L5AGQ/tasks" target="_blank">Trello Tasks Management</a> page and pick a task. While you work on it, move it to the "In Progress" list. You can add new tasks in Trello; </li>
            <li>When finished push to Github and create Pull Request.</li>
            <li>Any issues? Ask on Slack!</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading5">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
            <span><%= fa_icon "question-circle", class: "text-muted" %></span> I am new to Rails. Can I contribute?
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
        <div class="panel-body">
          Of course you can! In the first place, this project is a way to learn. Just some examples about how you can bring your contribution:
          <ul>
            <li>Pair Programming - enter on Slack and ask other contributors to work together on some task;</li>
            <li>Start with basic tasks, divide them in smaller pieces, create a Pull Request and ask for a code review;</li>
            <li>Are you passionate about Web Design? Perfect! You can handle the design and standardization of Bootstrap</li>
            <li>Contribute with ideas, new features, wireframes, etc.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading6">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
            <span><%= fa_icon "question-circle", class: "text-muted" %></span> Why should I contribute?
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
        <div class="panel-body">
          Well, there would be some good reasons to contribute to Zero2Dev:
          <ul>
            <li>Learn Rails! Face complex situations outside the trainings, books and tutorials;</li>
            <li>Learn Git and Github in a collaborative environment;</li>
            <li>Build your portfolio</li>
            <li>Help other people like you!</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
