<%= simple_form_for @contact_form do |f| %>



  <div class='col-md-6 well'>
    <div class="row">
    <div class='col-xs-6'>
      <div class="text-primary text-center">
        <h1>GET INVOLVED</h1>
        <br>
      </div>
    </div>
    <div class='col-xs-6'>
      <%= f.input :choice,
                  collection: [['contribute', 'contribute to the project'],['feature', 'suggest new feature'], ['bug', 'report a bug'], ['feedback', 'give feedback']],
                  value_method: :first,
                  label_method: :last,
                  label: false,
                  as: :radio_buttons,
                  item_wrapper_class: 'radio text-primary',
                  item_wrapper_tag: 'div',
                  checked: 'contribute'%>

    </div>
    </div>

    <br>




    <%= f.input :name, label: false, placeholder: "name",  required: true %>

    <!-- the text for contact_form_mail and contact_form_message will be added with jQuery (contact_forms.coffee) -->
    <div class="contact_form_mail text-muted text-justify">
      <small>Your e-mail used for Trello and Slack in order to receive your invitations:</small>
    </div>
    <%= f.input :email, label: false, placeholder: "eg: name@example.com", required: true %>

    <div class="contact_form_message text-muted text-justify">
      <small>Information about your interests, skills, or areas where you would like to contribute:</small>
    </div>

    <%= f.input :message, label: false, placeholder: "your message", as: :text, input_html: {rows: 3}, required: true %>


    <!-- this div will be hidden and will act as anti-spam
    details here : https://github.com/plataformatec/mail_form -->
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>


    <%= f.button :submit, 'Request Invitation', class: "btn btn-sm btn-success btn-block", id: "contact_submit_button"  %>
  </div>

<% end %>
