<!-- DRY for technology tag filter to be reused in all kind of posts index (resources, projects, collaborations, jobs)
whenever you need it use it like this:
= render 'technologies/technology_tag_filter'  -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default tags_wrapper">
      <div class="panel-heading">
        <!-- button used by jQuery to slide down the tags -->
        <div class='row'>
          <!-- set_name_link method defined in application_helper -->

          <div class="col-sm-4">
            <%= link_to set_name_link[:name_new], set_name_link[:link_new], class:"btn btn-xs btn-primary btn-block"%>
          </div>

          <div class="col-sm-4">
            <button type="button" class="btn btn-xs btn-info btn-block show_tag_filters">FILTER BY TECHNOLOGY</button>
          </div>

          <div class="col-sm-4">
            <%= link_to "CLEAR FILTERS", url_for( controller: controller_name, action: "index" ), method: :get,
                                                  class: "btn btn-xs btn-warning btn-block" %>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <!-- url_for controller, in order to be reutilized for all controllers (instead of _path)
        it is redirecting to the current controller index -->
        <%= form_tag url_for( controller: controller_name, action: "index" ), method: :get do %>
          <!-- all_technologies_list method defined in application_helper -->
          <% all_technologies_list_for_type.each do |t| %>

            <div class="checkbox_wrapper checkbox-inline text-muted text-center">
              
              <!-- very imporant!!! the "technology[]" tells rails that must output an array, not the last value
              technology is passed as param -->
              <!-- @selected_technology.include?(t) will keep checkboxes selected -->
              <%= check_box_tag("technology[]", t, @selected_technology.include?(t), class: "checkbox") %>
              <%= t %>

            </div>

          <%end%>
      </div>

      <div class="panel-footer">
        <%= submit_tag 'APPLY FILTERS', class: "btn btn-block btn-xs btn-success" %>
        <%end%>

      </div>
    </div>
  </div>
</div>
