<!DOCTYPE html>
<html>
  <head>
    <title>Zero2Dev</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>

    <!-- add fixed top menu -->
    <%= render "layouts/topmenu" %>

    <!-- add flash messages to all pages -->
    <% flash.each do |type, message| %>
      <div class = "alert alert-info fade-in"
        <button class = "close" data-dismiss="alert" x></button>
        <%= message %>
      </div>
    <% end %>

    <div class="container">
      <!-- put Controller and Action as IDs in order to easly identify page with jQuery -->
      <div class="<%= controller_name%> <%= action_name %>">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <%= render "layouts/footer"%>
      </div>

    </footer>
  </body>
</html>
